{% load staticfiles %}
<div class="banner">
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive"	src="{% static 'images/ba1.jpg' %}" alt="" width="500px" height="500px">
    </div>
    <div class="col-sm-6 matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    {% for ad in ad_list %}
                    <li>
                        <a href="{% url 'detail' %}?did={{ ad.id }}"><img src="{{ MEDIA_URL }}{{ ad.image_url_i }}" alt=""  width="250px" height="250px"></a>
                     </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="{% static 'images/ba.jpg' %}" alt="" width="500px" height="500px">
    </div>
    <div class="clearfix"> </div>
    </div>